---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>
<script>
    window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

<BaseLayout primaryTitle="搜索">
    <section class="archive">
        <div class="section-content section-tag">
          <div class="archive-tag">
            <div id="search"></div>
          </div>
        </div>
      </section>
</BaseLayout>


