<style>
  .dialog-container {
    display: none;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    background-color: #edeef3;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
  }

  @media screen and (min-width: 636px) {
    .dialog-container {
      top: 50%;
      width: 50vw;
      height: 70vh;
    }
  }

  /* 对话框按钮的样式 */
  .dialog-button {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
    color: #676b5f;
  }
</style>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<button id="open-dialog-button" class="dialog-button">搜索</button>

<div id="dialog-container" class="dialog-container">
  <div id="search"></div>
</div>

<script>
  // 获取对话框相关的元素
  const openDialogButton = document.getElementById("open-dialog-button")!;
  const dialogContainer = document.getElementById("dialog-container")!;

  // 打开对话框的点击事件处理程序
  openDialogButton.addEventListener("click", () => {
    dialogContainer.style.display = "block";
  });

  // 对话框的点击事件处理程序
  dialogContainer.addEventListener("click", (event) => {
    // 阻止事件冒泡
    event.stopPropagation();
  });

  // 监听点击对话框外部的事件
  document.addEventListener("click", (event) => {
    const target = event.target;
    if (!dialogContainer.contains(target) && target !== openDialogButton) {
      dialogContainer.style.display = "none";
    }
  });

  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>
